html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bc);
  font-family: var(--font-family);
  color: var(--w-100);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  border: none;
  color: var(--w-100);
  background: linear-gradient(180deg, var(--mc) 0%, var(--sc) 100%);
  border-radius: 1rem;

  &:hover {
    animation: 3s ease-in 0.75s infinite reverse glowing;

    @-webkit-keyframes glowing {
      from {
        box-shadow: 0 0 0.5rem var(--sc)
      }
      to {
        box-shadow: 0 0 0.5rem var(--sc), 0 0 1rem var(--mc)
      }
    }
  }

}





section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 4rem;
  height: 100vh;
}

.section-title {
  text-align: center;
  font-weight: var(--h-2-font-weight);
  font-size: var(--h-2-font-size);
}

.down-arrow {
  cursor: pointer;
  margin-top: 4rem;
  width: 3rem;
  height: 2rem;
}

.social-links {
  display: inline-flex;
  gap: 3rem;
  flex: 0 0 auto;
}

.link {
  font-weight: var(--h-4-font-weight);
  color: var(--w-80);
  font-size: var(--h-5-font-size);

  &.discord:hover {
    color: dodgerblue;
  }

  &.telegram:hover {
    color: cornflowerblue;
  }
}
