.main-screen {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .content {
        display: flex;
        width: 80rem;
        gap: 5rem;
    }

    .titles-wrapper {
        display: flex;
        flex-direction: column;
    }

    .sub-title {
        font-weight: var(--h-6-font-weight);
        color: var(--mc);
        font-size: var(--h-6-font-size);
    }

    .title {
        font-weight: var(--h-1-font-weight);
        font-size: var(--h-1-font-size);
    }

    .under-title-text {
        font-weight: var(--h-5-font-weight);
        color: var(--w-80);
        font-size: var(--h-5-font-size);
    }

    .laptop-image {
        width: 38rem;
        height: 36.6rem;
        object-fit: cover;

        animation-name: tilt-shaking;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes tilt-shaking {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(7deg); }
    }

    .order-btn {
        margin-top: 5rem;
        padding: 2rem 9rem;
    }
}

.modern-tech {

    .wrapper {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 9rem;
    }

    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 3rem;
        cursor: pointer;
        border-radius: 1rem;

        &.html{
            background-color: darkorange;
        }

        &.sass{
            background-color: hotpink;
        }

        &.bootstrap{
            background-color: cornflowerblue;
        }

        &.react{
            background-color: dodgerblue;
        }
    }

    .img {
        width: 6.25rem;
        height: 6.25rem;
    }
}

.price-list {


    .cards {
        display: flex;
        gap: 1rem;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        height: 30rem;
        align-items: center;
        justify-content: center;
        padding: 2rem 2.5rem;
        background-color: #e9e6ed12;
        border-radius: 2rem;
    }

    .card-title {
        font-weight: var(--h-4-font-weight);
        font-size: var(--h-4-font-size);
    }

    .card-description{
        text-align: center;
        font-weight: var(--simple-font-size);
        font-size: var(--simple-font-size);
    }

    .card-price {
        font-weight: var(--h-5-font-weight);
        font-size: var(--h-5-font-size);
    }

    .card-order-btn {
        margin-top: 4rem;
        padding: 1rem 7rem;
    }
}

.portfolio {

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    img {
        border-radius: 1rem;
    }
}

.call-me {
    .logo {
        width: 20rem;
        height: 20rem;
        border-radius: 100%
    }
}
